
Homework 2/.idea/.name
Homework 2/.idea/Homework 2.iml
Homework 2/.idea/inspectionProfiles/profiles_settings.xml
Homework 2/.idea/inspectionProfiles/Project_Default.xml
Homework 2/.idea/misc.xml
Homework 2/.idea/modules.xml
Homework 2/.idea/vcs.xml
